name: CD Production

on:
  pull_request_target:
    branches:
      - production
    types:
      - closed

jobs:
  get-version:
    name: Get the latest version
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    environment: actions
    outputs:
      latest: ${{ steps.version.outputs.current-version }}
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GIT_TOKEN }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Initialization
        id: init
        run: |
          git config --global user.email "${{ secrets.USEWR_EMAIL }}"
          git config --global user.name "Taco Chang"

      - name: Update Version
        run: |
          npx standard-version --skip.tag
          git push origin HEAD:production -f

      - name: Get Package Version
        id: version
        uses: martinbeentjes/npm-get-version-action@v1.3.1

  get-affected-projects:
    name: Get affected projects
    if: github.event.pull_request.merged == true
    needs: get-version
    uses: ./.github/workflows/affected-projects.yml
    with:
      main_branch_name: production
    secrets:
      GIT_TOKEN: ${{ secrets.GIT_TOKEN }}

  release-tag:
    name: Publish libs
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    environment: actions
    needs:
      - get-version
      - get-affected-projects
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GIT_TOKEN }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Authenticate to Google Cloud
        id: "auth"
        uses: "google-github-actions/auth@v1"
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: Pull project
        run: |
          git config --global user.email "${{ secrets.USEWR_EMAIL }}"
          git config --global user.name "Taco Chang"
          git pull

      - name: Release Tag
        run: |
          git tag \
            -f \
            -a "v${{ needs.get-version.outputs.latest }}" \
            -m "${{ needs.get-affected-projects.outputs.list }}"

          git push --tags origin HEAD:production
